.card {
    border-radius: auto;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: nowrap;
  }

.newcard {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #ccc; 
    border-top: 1px solid rgb(184, 187, 162); 
    border-right: 1px solid rgb(201, 221, 25); 
    border-left: 1px solid rgb(201, 221, 25); 
    flex-wrap: nowrap;
  }
  
  .input {
    display: inline-block;
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: black;    
    margin-left: 40% ;
  }

.button {
    color: black;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;   
    margin-left: 48%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);   
    box-sizing: border-box;    
    margin-top: 1%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.display {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 10%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(255, 254, 254, 0.25);
    font-size: 20px;
    flex-wrap: nowrap;
    display: flex;
  }

  .delete {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150%;
    margin-left: auto
}

.icon {
  background-color: #addfbc;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 10%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(255, 254, 254, 0.25);
  font-size: auto;
  display: flex;
  flex-wrap: nowrap;
}