.card {
    border-radius: auto;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: row; 
    width: auto;
    margin: 10px;
    box-sizing: border-box;
    justify-content: space-evenly;
  }

.newcard {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc; 
    flex-wrap: nowrap;
  }
  
  .input {
    display: block;
    box-sizing: border-box;
    color: black; 
    margin-left: 40%; 
    position: relative;
  }

  .inputText {
    width: 30%;
    height: 20px;
    margin: 10px;
    display: inline-flex;
    
  }

.button {
    color: black;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;   
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);   
    box-sizing: border-box;
    align-items: center;
}

.display {
    background-color: #a892ee;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 10%;
    min-width: 5%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(255, 254, 254, 0.25);
    font-size: 20px;
    display: inline-block;
    text-justify: auto;
    align-self: auto;
  }

  .delete {
    color: black;
    font-size: 15px;
    min-height: 20px;
    min-width: 20px;
    margin-top: 80px;
    margin-right: 20px;
}

.icon {
  background-color: #addfbc;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 10%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(255, 254, 254, 0.25);
  font-size: auto;
  display: flex;
  flex-wrap: nowrap;
}

.isa-error {
  color: #D8000C;
  background-color: #FFD2D2;
  text-align: center;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.reactGridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
  transition-property: left, top;
  background: rgba(0, 132, 255, 0.473);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.deleteButton {
  position: absolute;
  top: 0%;
  left: 92%;
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.textDiaply {
  text-align: center;
  vertical-align: center;
  color:indigo;
  word-spacing:5px;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 2 rem;
}

.svg-display {
    display: flex;
  justify-content: center;
}